nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}
.burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .burger {
    display: block;
  }

  .burger.active ~ .nav-links {
    display: flex;
    flex-direction: column;
  }
}
