.container {
  width: 80%;
  margin: 0;
  background-color: rgb(240, 229, 229);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  width: 100%;
  max-width: 300px;
  margin: 10px;
}

